html, body {
	font-family: Consolas, monaco, monospace;
	background-color: #272822;
	color: #F8F8F2;
}

.container {
	margin-top: 50px;
}

a {
	text-decoration: none;
	color: #A6E22E;
}

a:hover {
	color: #F92672;
}

h1 {
	color: #F92672;
}

h2 {
	color: #66D9EF;
}

input, textarea{
	color: black;
}
hr.star-light,hr.star-primary {
	padding:0;
	border:none;
	border-top:solid 5px;
	text-align:center;
	max-width:250px;
	margin:25px auto 30px
}
hr.star-light:after,hr.star-primary:after {
	content:"\f005";
	font-family:FontAwesome;
	display:inline-block;
	position:relative;
	top:-.8em;
	font-size:2em;
	padding:0 .25em
}
.navbar-custom,header .intro-text .name {
	font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:uppercase
}
hr.star-light {
	border-color:#fff;
}
hr.star-light:after {
	background-color:#272822;
	color:#fff
}
hr.star-primary {
	border-color:#2C3E50
}